@font-face {
    font-family: 'Unispace';
    src:url('./assets/fonts/unispace/Unispace.ttf.woff') format('woff'),
        url('./assets/fonts/unispace/Unispace.ttf.svg#Unispace') format('svg'),
        url('./assets/fonts/unispace/Unispace.ttf.eot'),
        url('./assets/fonts/unispace/Unispace.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
    }

* {
    box-sizing: border-box;
    margin: 0;
    }

:root {
    --color-site-background: #212121;
    --color-text-body: #EEEEEE;
    --color-text-body-secondary: rgba(238, 238, 238, 0.65);
    --color-text-primary: #FFFFFF;
    --color-text-purple: #B288F6;
    --color-action-primary: #8442F0;
    --color-action-hover: #5E2FAA;
    --color-action-light: #CAAEF9;
    --color-card-background: #404040;
    --color-card-bg-dark: #2C2C2C;
    --color-btn-bg-dark: #4A4A4A;
    --color-btn-bg-light: #6B6B6B;
    --color-btn-bg-hover: #9B9B9B;
    }

a {
    color: var(--color-text-body);
    text-decoration: none;
    }

a:hover {
    color: var(--color-text-primary);
    }

a::after {
    color: var(--color-text-body);
    }

body{
    margin: 0;
    font-family: 'Be Vietnam Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-text-primary);
    background-color: var(--color-site-background);
    }

button {
    padding: 12px 30px;
    background-color: var(--color-action-primary);
    border: none;
    border-radius: 6px;
    color: var(--color-text-body);
    font-size: 18px;
    letter-spacing: 0.3px;
    cursor: pointer;
    }

button:hover {
    background-color: var(--color-action-hover);
    }

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

.centered {
    justify-self: center;
    align-self: center;
    }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }

.col {
    display: flex;
    flex-direction: column;
    }

.column {
    display: flex;
    flex-direction: column;
    }

.col-centered {
    align-items: space-between;
    }

.debug-this {
    border-style: solid;
    border-color: red;
    border-width: 2px;
    }

.grid {
    display: grid;
    }

.purple-text {
    color: var(--color-text-purple);
    }

.relative {
    position: relative;
    }

.row {
    display: flex;
    flex-direction: row;
    }

.row-spaced {
    justify-content: space-between;
    }

.text-btn {
    font-size: 1rem;
    font-weight: 300;
    padding: 8px;
    line-height: 1.5rem;
    letter-spacing: 0.25px;
    background-color: transparent;
    color: var(--color-text-body);
    cursor: pointer;
    }

.text-btn:hover {
    background-color: var(--color-btn-bg-light);
    }

.tiny-logo {
    height: 28px;
    width: 28px;
    }

ul {
    list-style-type: none;
    }
  