.dropdown-btn {
    padding: 12px 16px;
    background-color: var(--color-btn-bg-dark);
    border: none;
    border-radius: 6px;
    color: var(--color-text-body);
    font-size: 18px;
    letter-spacing: 0.3px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
  
.dropdown-btn:hover {
    background-color: var(--color-btn-bg-light);
}
