/* #nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
} */

#nav {
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}

.nav-actions {
    align-items: center;
}