.payment-discount {
    font-size: 0.875rem;
    line-height: 1.625rem;
    letter-spacing: 0.3px;
}

.payment-plan {
    font-size: 1.13rem;
    line-height: 1.75rem;
    letter-spacing: 0.3px;
    color: var(--color-text-body);
}

.payment-plan-btn {
    border-radius: 6px;
    border-style: solid;
    border-color: var(--color-btn-bg-light);
    border-width: 1px;
    padding: 4px 34px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.payment-plan-btn:hover {
    background-color: var(--color-btn-bg-hover);
}